@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome @ViewBag.User</h2>
    </h1>
    <!-- Latest compiled and minified CSS -->
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <h4 class="text-success">Success</h4>
</div>
